
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(menú.css);
@import url(banner.css);
@import url(blog.css);
@import url(info.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Handlee', cursive;;
}

header{
    width:100%;
    height:50px;
    background: rgb(236, 179, 229);
    color: #fff;

    position: fixed;
    top:0;
    left:0;
    z-index: 100;

}
.contenedor {
    width:98%;
    margin:auto;
}

h1{
    float:left;
}
h2{
    color: blueviolet;
}
p{
    color: darkturquoise;
}

header .contenedor{
    display: table;
}

section{
    width:100%;
    margin-bottom: 25px;
}

#bienvenidos{
    text-align: center;
}

footer .contenedor{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}

.copy {
    font-size: 20px;
}

.sociales{
    width: 100%;
    text-align: center;
    font-size: 28px;
}

.sociales a{
    color:rgb(141, 233, 233);
    text-decoration: none;
}

@media(min-width:1024px){
    .contenedor{
        width: 1000px;
    }
}

@media(min-width:768px){
    .sociales{
        width: auto;
    }

    footer .contenedor{
        justify-content: space-between;
    }
}
.card {
    border: 0 !important;
    width: 100%;
    margin: 30px;
    border-radius:6px;
    overflow: hidden;
    background:rgb(144, 217, 240);
    box-shadow: 0 4px 6px -1px rgb(177, 176, 247), 0 2px 4px -1px rgba(0,0,0,0.06);
    cursor:default;
    transition: all 400ms ease;
}

.container{
    position: relative;
    width: 1700px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}

.card:hover{
    box-shadow:  4px 5px 20px rgba(0,0,0,0.6);
}

.subtitulo{
    text-align: center;
    font-weight: 300;
    color: #9e0f22;
    margin-bottom: 40px;
    font-size: 40px;
}

.contenedor-leyenda{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: justify;
    flex-wrap: wrap;
}

.contenedor-leyenda img{
    width: 40%;
    border-radius: 5px;   
    border: 5px solid #9e0f22;    
    cursor: pointer;
}

.contenedor-leyenda img:hover{
    transform: scale(1.2);
}

.checklist-leyenda{
    width: 40%;
}

.leyenda{
    margin-bottom: 20px;
}
/* -------------------------Bienvenidos--------------------------------------*/
.n-leyenda{
    margin-bottom: 7px;
    color: #eb9eee;
}

.letra{
    display: inline-block;
    background-image: linear-gradient(to top, rgb(158, 15, 34) 0%, rgb(158, 15, 34));
    width: 30px;
    height: 30px;
    color: white;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 10px;
}

@keyframes mover-izquierda{
    0%{
        transform: translate(100%);
    }
}

@keyframes mover-derecha{
    0%{
        transform: translate(-100%);
    }
}